[Unit]
Description=Run Resell Ads explorer reconciler every 2 hours

[Timer]
OnCalendar=*-*-* 01/2:15:00
Persistent=true
Unit=resell-ads-explorer-reconcile.service

[Install]
WantedBy=timers.target
